
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

input {
  padding: 10px;
  margin: 20px;
  width: 300px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.qr-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-code-display {
  margin-top: 20px;
}

